.intro{
    display: inline-block;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#homeWrapper
#staffWrapper{
    max-width: 50%;
}

#staffWrapper{
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#instituteShopWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#staffList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.staffItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 600px;
    width: 50%;
    justify-content: center;
    margin-bottom: 40px;
}

.staffImage{
    max-width: 80%;
    margin-right: 20px;
}

#writeCommentArea{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

#registerWrapper{
    display: flex;
    flex-direction: column;
}

#loginWrapper{
    display: flex;
    flex-direction: column;
}

#loginDisplay{
    border: 1px black solid;
    width: fit-content;
    padding: 5px;
}

#shopItemsWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.shopItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    border-bottom: 1px black solid;
    padding: 20px;
}

.itemPhoto{
    max-width: 30%;
    margin-right: 20px;
}

a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}